model/data/raw/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
venv/
.venv/
vivado_pr2/
vivado_pr3/
vivado_pr3.log
vivado_pr3.jou
*.vcd

# личная тулза для сборки отчётов (не нужна для самого проекта)
docxgen.py
assets/
build_report.py
